<div class="row">
    <div class="col-md-6">
      <a routerLink="/sectors" class="btn btn-link"[state]="{type:'admin'}">
        <i class="fa fa-arrow-circle-o-left"></i> Back To List of Sectors
      </a>
    </div>
    <div class="col-md-6">
    </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    Edit Sector {{sector.name}}
  </div>
  <div class="card-body">
    <form #sectorForm="ngForm" (ngSubmit)="onSubmit(sectorForm)">

      <div class="form-group">
        <label for="sectorName">Sector Name</label>
        <input
          type="text"
          class="form-control"
          name="sectorName"
          #sectorName="ngModel"
          [(ngModel)]="sector.name"
          minlength="2"
          required>
        
      </div>

      <div class="form-group">
        <label for="brief">Sector Brief</label>
        <input
          type="text"
          class="form-control"
          name="brief"
          #brief="ngModel"
          [(ngModel)]="sector.brief"
          minlength="2"
          required>
        
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>