<hr>
<a routerLink="/create-stock-exchange" class="btn btn-primary" *ngIf=isAdmin>Add new Stock Exchange</a>
<br>
<br>

<table class="table table-striped">
  <thead class="thead-inverse thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="name">Name</th>
      <th scope="col" sortable="brief">Brief</th>
      <th scope="col" sortable="address">Contact Address</th>
      <th scope="col" sortable="remarks">Remarks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stockExchange of stockExchanges |slice: (page-1) * pageSize : page * pageSize; index as i">
      <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
      <td>{{ stockExchange.name }}</td>
      <td>{{ stockExchange.brief }}</td>
      <td>{{ stockExchange.address.houseNo }}, {{ stockExchange.address.city }},<br> {{ stockExchange.address.state }}, {{ stockExchange.address.country }},<br> {{ stockExchange.address.pin }}</td>
      <td>{{ stockExchange.remarks }}</td>
      <td>
        <a routerLink="/detail-stock-exchange" class="btn btn-secondary btn-sm" [state]="stockExchange">
          <i class="fa fa-id-card"></i> Detail
        </a>
      </td>
      <td *ngIf=isAdmin>
        <a routerLink="/edit-stock-exchange" class="btn btn-secondary btn-sm" *ngIf=isAdmin [state]="stockExchange">
          <i class="fa fa-pencil"></i> Edit
        </a>
      </td>
      <td>
        <button (click)="onDeleteClick(stockExchange.id)" class="btn btn-secondary btn-sm" *ngIf=isAdmin>
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
 
</table>
<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>