<div class="row">
    <div class="col-md-6">
      <a routerLink="/stock-exchanges" class="btn btn-link"[state]="{type:'admin'}">
        <i class="fa fa-arrow-circle-o-left"></i> Back To List of Stock Exchanges
      </a>
    </div>
    <div class="col-md-6">
    </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    Add Stock Exchange
  </div>
  <div class="card-body">
    <form #exchangeForm="ngForm" (ngSubmit)="onSubmit(exchangeForm)">

      <div class="form-group">
        <label for="stockExchangeName">Stock Exchange Name</label>
        <input
          type="text"
          class="form-control"
          name="stockExchangeName"
          #sectorName="ngModel"
          [(ngModel)]="stockExchange.name"
          minlength="2"
          required>
        
      </div>

      <div class="form-group">
        <label for="brief">Stock Exchange Brief</label>
        <input
          type="text"
          class="form-control"
          name="brief"
          #brief="ngModel"
          [(ngModel)]="stockExchange.brief"
          minlength="2"
          required>
        
      </div>

      <div class="form-group">
        <label for="remarks">Stock Exchange Remarks</label>
        <input
          type="text"
          class="form-control"
          name="remarks"
          #remarks="ngModel"
          [(ngModel)]="stockExchange.remarks"
          minlength="2"
          required>
        
      </div>

      <div class="form-group">
        <label for="houseNo">Stock Exchange Address House No.</label>
        <input
          type="text"
          class="form-control"
          name="houseNo"
          #houseNo="ngModel"
          [(ngModel)]="stockExchange.address.houseNo"
          required>
        
      </div>
      <div class="form-group">
        <label for="city">Stock Exchange Address City </label>
        <input
          type="text"
          class="form-control"
          name="city"
          #city="ngModel"
          [(ngModel)]="stockExchange.address.city"
          required>
        
      </div>
      <div class="form-group">
        <label for="state">Stock Exchange Address State</label>
        <input
          type="text"
          class="form-control"
          name="state"
          #state="ngModel"
          [(ngModel)]="stockExchange.address.state"
          required>
        
      </div>
      <div class="form-group">
        <label for="country">Stock Exchange Address Country</label>
        <input
          type="text"
          class="form-control"
          name="country"
          #country="ngModel"
          [(ngModel)]="stockExchange.address.country"
          required>
        
      </div>
      <div class="form-group">
        <label for="pin">Stock Exchange Address Pin</label>
        <input
          type="text"
          class="form-control"
          name="pin"
          #pin="ngModel"
          [(ngModel)]="stockExchange.address.pin"
          required>
        
      </div>


      <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>