<hr>
<a routerLink="/create-sector" class="btn btn-primary" *ngIf=isAdmin>Add new Sector</a>
<br>
<br>

<table  class="table table-striped">
  <thead class="thead-inverse thead-dark">
    <tr>
      <th>Sector Name</th>
      <th>Brief</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sector of sectors">
      <td>{{ sector.name }}</td>
      <td>{{ sector.brief }}</td>
      <td>
        <a routerLink="/detail-sector" class="btn btn-secondary btn-sm" [state]="sector">
          <i class="fa fa-id-card"></i> Detail
        </a>
      </td>
      <td *ngIf=isAdmin>
        <a routerLink="/edit-sector" class="btn btn-secondary btn-sm" *ngIf=isAdmin [state]="sector">
          <i class="fa fa-pencil"></i> Edit
        </a>
      </td>
      <td *ngIf=isAdmin>
        <button (click)="onDeleteClick(sector.id)" class="btn btn-secondary btn-sm">
          <i class="fa fa-trash"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
  
</table>